@use "material-common" as mat-common;
@include mat-common.main();
html,
body {
  height: 100%;
}

* {
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--b-background);
}

.success-snackbar {
  background: #a8e999;
}

.error-snackbar {
  background: #e3999b;
}

.filter {
  margin-left: 10px;
}