:host {
  display: flex;
  flex-direction: column;

  margin: 20pt 0;

  padding: 10pt;
  border-radius: 10pt;

  color: var(--f-base);
  background-color: var(--b-app-bar);
}

.content {
  display: flex;
  flex-direction: column;

  margin-bottom: 25pt;
}

.media {
  max-width: 250pt;
}

.footer {
  display: flex;
  flex-direction: column;

  color: var(--f-secondary-text);

  font-size: 8pt;
}

.author {
  display: flex;
  flex-direction: row;
}

app-platform-badge {
  margin: 0 3pt;
}
