<div class="content" dir="auto" [innerHtml]="update.content | format"></div>

<div *ngFor="let media of update.media">
  <img *ngIf="media.type === 'Photo'" [src]="media.url" class="media" />
  <img
    *ngIf="media.type === 'Video'"
    [src]="media.thumbnailUrl"
    class="media"
  />
</div>

<div class="footer">
  <div class="author">
    <app-platform-badge
      [platform]="update.author.platform"
    ></app-platform-badge>

    <span [innerHtml]="update.author.userId"> </span>
  </div>

  <a>
    {{ dateTime }}
  </a>
</div>
