<mat-table class="mat-elevation-z8" [dataSource]="subscriptions$">
  <ng-container>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>

      <mat-cell *matCellDef="let element; let index = index">
        {{ element.id }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="userId">
        <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
  
        <mat-cell *matCellDef="let element; let index = index">
          {{ element.userId }}
        </mat-cell>
      </ng-container>

    <ng-container matColumnDef="platform">
      <mat-header-cell *matHeaderCellDef>Platform</mat-header-cell>

      <mat-cell *matCellDef="let element">
        {{ element.platform }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="chats">
      <mat-header-cell *matHeaderCellDef>Chats</mat-header-cell>

      <mat-cell *matCellDef="let element">
        {{ element }}
      </mat-cell>
    </ng-container>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<mat-table class="mat-elevation-z8" [dataSource]="subscriptions$">
    <ng-container>
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
  
        <mat-cell *matCellDef="let element; let index = index">
          {{ element.id }}
        </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="userId">
          <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
    
          <mat-cell *matCellDef="let element; let index = index">
            {{ element.userId }}
          </mat-cell>
        </ng-container>
  
      <ng-container matColumnDef="platform">
        <mat-header-cell *matHeaderCellDef>Platform</mat-header-cell>
  
        <mat-cell *matCellDef="let element">
          {{ element.platform }}
        </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="chats">
        <mat-header-cell *matHeaderCellDef>Chats</mat-header-cell>
  
        <mat-cell *matCellDef="let element">
          {{ element }}
        </mat-cell>
      </ng-container>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  