<h1 id="tableLabel">Updates</h1>

<p *ngIf="!updates"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="updates">
  <thead>
    <tr>
      <th>Content</th>
      <th>Author Id</th>
      <th>Creation Date</th>
      <th>Url</th>
      <th>Repost</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let update of updates">
      <td>{{ update.content }}</td>
      <td>{{ update.author_id }}</td>
      <td>{{ update.creation_date | date }}</td>
      <td>{{ update.url }}</td>
      <td>{{ update.repost }}</td>
    </tr>
  </tbody>
</table>
