<h1 id="tableLabel">Updates</h1>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="content">
    <mat-header-cell *matHeaderCellDef>Content</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.content}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="authorId">
    <mat-header-cell *matHeaderCellDef> Author Id </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.author_id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="creationDate">
    <mat-header-cell *matHeaderCellDef> Creation Date </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.creation_date}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="url">
    <mat-header-cell *matHeaderCellDef> Url </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.url}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="repost">
    <mat-header-cell *matHeaderCellDef> Repost </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.repost}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
    <mat-cell *matCellDef="let element">

      <button mat-icon-button (click)="remove(element)">
        <mat-icon>delete</mat-icon>
      </button>

    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>

<mat-paginator [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true">
</mat-paginator>