cdk-virtual-scroll-viewport {
  height: 100vh;
}

cdk-virtual-scroll-viewport::-webkit-scrollbar {
  width: 0px;/* remove scrollbar space */
  background: transparent;/* optional: just make scrollbar invisible */
}

cdk-virtual-scroll-viewport {
 -ms-overflow-style: none !important; // IE 10+
  scrollbar-width: none !important;
  overflow: -moz-scrollbars-none !important;
}

.updates-container {
  max-width: 500pt;
  margin: 0 auto;
}

mat-spinner {
  margin: 0 auto;
}
