.subscriptions {
  display: flex;
  flex-direction: colun;
  flex-wrap: wrap;
}

.subscription {
  display: grid;
  grid-template-columns: repeat(2, 50%); /* see notes below */

  background-color: var(--b-card);

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
  padding: 20px;

  transition: all .1s;
}
.subscription:hover {
  background-color: var(--b-hover);
}

.header {
  font-weight: bold;
}