$dashboardapp-primary: mat-palette($mat-blue-grey);
$dashboardapp-accent: mat-palette($mat-grey, A200, A100, A400);
$dashboardapp-warn: mat-palette($mat-deep-orange);

$background-color: '#1D1E22';
$app-bar-color: '#323337';

$dashboardapp-theme: mat-dark-theme((
  color: (
    primary: $dashboardapp-primary,
    accent: $dashboardapp-accent,
    warn: $dashboardapp-warn,
  )
));

$background: map-get($dashboardapp-theme, background);
$background: map_merge($background, (background: $background-color, app-bar: $app-bar-color));
$dashboardapp-theme: map_merge($dashboardapp-theme, (background: $background));

$dashboardapp-primary-contrast: map-get($dashboardapp-primary, contrast);
$dashboardapp-accent-contrast: map-get($dashboardapp-accent, contrast);
$dashboardapp-warn-contrast: map-get($dashboardapp-warn, contrast);

$dashboardapp-background: map-get($dashboardapp-theme, background);
$dashboardapp-foreground: map-get($dashboardapp-theme, foreground);
