@import "~@angular/material/theming";
@import "common";

@include mat-core();
@include angular-material-theme($dashboardapp-theme);

$p-keys: 50, 100, 200, 300, 400, 500, 600, 700, 800, 900;
$a-keys: (100:A100, 200:A200, 400:A400, 700:A700);
$w-keys: (100:100, 200:200, 400:400, 700:700);

:root {
  @each $key in $p-keys {
    --p#{$key}: #{map-get($dashboardapp-primary, $key)};
  }

  @each $key, $value in $a-keys {
    --a#{$key}: #{map-get($dashboardapp-accent, $value)};
  }

  @each $key, $value in $w-keys {
    --w#{$key}: #{map-get($dashboardapp-warn, $value)};
  }

  @each $key in $p-keys {
    --pc#{$key}: #{map-get($dashboardapp-primary-contrast, $key)};
  }

  @each $key, $value in $a-keys {
    --ac#{$key}: #{map-get($dashboardapp-accent-contrast, $key)};
  }

  @each $key, $value in $dashboardapp-background {
    --b-#{$key}: #{$value};
  }

  @each $key, $value in $dashboardapp-foreground {
    --f-#{$key}: #{$value};
  }
}

* {
  font-family: Roboto, sans-serif !important;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: grid;
  background: var(--b-background);
}

a:-webkit-any-link {
  text-decoration: none;
}
