<div class="root">
  <div class="sidenav" [style.width]="isExpanded ? '180pt' : '64pt'">
    <button mat-button (click)="isExpanded = !isExpanded">
      <mat-icon [@menu]="isExpanded">menu</mat-icon>
    </button>

    <mat-list>
      <mat-list-item matRipple *ngFor="let item of listItems">
        <mat-icon
          mat-list-icon
          [style.margin]="isExpanded ? '0 calc(5%)' : '0 calc(20%)'"
        >
          {{ item.matIcon }}
        </mat-icon>
        <span mat-line *ngIf="isExpanded" [@slide]="isExpanded">
          {{ item.name }}
        </span>
      </mat-list-item>
    </mat-list>
  </div>

  <div class="content">

    <mat-toolbar></mat-toolbar>

    <router-outlet></router-outlet>

  </div>
</div>
