.root {
  display: flex;
  flex-direction: row;
}

.sidenav {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100%;

  transition: width 0.15s;
  transition-timing-function: ease-out;

  background-color: var(--b-app-bar);
}

.content {
  display: flex;
  flex-direction: column;

  width: 100%;
}

mat-toolbar {
  background-color: var(--b-card);

  height: 50pt;

  display: flex;
  flex-direction: row;
}

.mat-button {
  width: 100%;
  height: 50pt;
}

.mat-button-square {
  width: 50pt;
  height: 50pt;
}

.mat-list {
  width: 100% !important;
}

.mat-list-icon {
  transition: margin 0.15s;
  transition-timing-function: ease-out;
}

.profile-picture {
  height: 90%;

  border-radius: 100%;
}
