<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

    <mat-toolbar class="font-weight-600">Dashboard</mat-toolbar>

    <mat-nav-list>

      <a mat-list-item *ngFor="let page of pages" [routerLink]="page.path" routerLinkActive="active">
        {{ page.name }}
      </a>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary">

      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">
          menu
        </mat-icon>
      </button>

      <span style="flex: 1 1 auto;"></span>

      <ng-container *ngIf="isAuthenticated$ | async else logoutTemplate">

        <ngx-avatar [src]="(user$ | async).profilePicture" [name]="(user$ | async).userName"
          [matTooltip]="(user$ | async).userName" [matMenuTriggerFor]="menu">
        </ngx-avatar>

        <mat-menu #menu="matMenu">

          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>

        </mat-menu>

      </ng-container>

      <ng-template #logoutTemplate>

        <button mat-icon-button matTooltip="Login" [matMenuTriggerFor]="menu">
          <mat-icon>login</mat-icon>
        </button>

        <mat-menu #menu="matMenu">

          <button mat-menu-item (click)="loginWithTwitter()">
            Login in with Twitter
          </button>

        </mat-menu>

      </ng-template>

    </mat-toolbar>

    <div class="m-1">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>